@page "{customerId}"
@model BlobStorage.Pages.Customers.DeleteModel
@{
   
}
<h1>Delete</h1>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Customer.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">YES!</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>